<div>
  Currency:
  <input
    [(ngModel)]="currencyService.currency"
    class="btn-check"
    type="radio"
    name="currency"
    id="dollar"
    value="dollar"
    checked
  />
  <label
    class="btn btn-outline-secondary"
    style="color: rgb(230, 230, 230)"
    for="dollar"
  >
    $
  </label>
  <input
    [(ngModel)]="currencyService.currency"
    class="btn-check"
    type="radio"
    name="currency"
    id="euro"
    value="euro"
  />
  <label
    class="btn btn-outline-secondary"
    style="color: rgb(230, 230, 230)"
    for="euro"
  >
    €
  </label>
</div>
