<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="cont">
  <div class="business card" style="margin-top: 150px">
    <span style="font-size: 50px; font-weight: bolder; word-spacing: -3px">
      <i>Welcome to our restaurant!</i>
    </span>
    <br /><br />
    <span style="font-weight: bolder; font-size: medium"
      >a place where everybody feels at home! <br />
      we are pleased to host our guests Monday - Saturday from 2pm till the last
      guest</span
    >
  </div>

  <div class="contact card">
    <span style="font-size: 50px; font-weight: bolder; word-spacing: -3px">
      <i>Contact us</i>
    </span>
    <br />
    <span style="font-weight: bolder">
      Phone: +48 198478392
      <br />
      E-mail: sampleEmail21@domain.com
      <br />
      <a
        href="https://www.facebook.com/MichelinGuideWorldwide/?brand_redir=1777163562355942"
        class="fa fa-facebook"
      ></a>
      <a href="https://twitter.com/michelinguideus" class="fa fa-twitter"></a>
      <br />
    </span>
    <span style="font-size: 50px; font-weight: bolder; word-spacing: -3px">
      <i>Or meet us:</i>
    </span>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="600"
          height="400"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=krak%C3%B3w%20kawiory&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe
        ><a href="https://fmovies-online.net">fmovies</a><br /><style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 400px;
            width: 600px;
          }</style
        ><a href="https://www.embedgooglemap.net">show google map on website</a
        ><style>
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 400px;
            width: 600px;
          }
        </style>
      </div>
    </div>
  </div>
</div>
