<div class="container card">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>

        <div style="margin-top: 20px">
          <button class="btn btn-secondary" type="submit" [disabled]="!f.valid">
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          <br />
          <span
            >{{ isLoginMode ? "Not registered?" : "Have an account?" }} click to
          </span>
          <button
            class="btn btn-sm btn-secondary"
            (click)="onSwitchMode()"
            type="button"
          >
            {{ isLoginMode ? "Sign Up!  " : "Login  " }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
